/* ====== GENERAL STYLING ====== */
* {
	margin: 0;
}

#wrapper {
	position: relative;
}

/* ====== NAVBAR ====== */

/* NAVBAR TITLE */
#navbar {
	/*background: blue;*/
	position: fixed;
	height: 100%;
	width: 300px;
	/*border: 3px solid #a7a3a3;*/
}

#navbar header {
	margin: 20px;
	text-align: center;
}

/* NAVBAR LINKS */
#navbar ul {
	list-style-type: none;
}

#navbar ul li {
	padding: 10px 0px;
}

.navbar-link {
	text-decoration: none;
}


/* ====== MAIN CONTENT WRAPPER ====== */
#main-doc {
	position: absolute;
	left: 300px;
}